@import "./variables";

/**
  [Typography]

  Body:       #{$html_font_size}/#{$body_line_height} #{$font_body};
  Title:      #{$font_title}
  Blockquote: #{$font_blockquote}

  Note: Most of font sizes are relative to the base font size (rem)
 */

/*------------------------------------------------------------------

  Demo

 -------------------------------------------------------------------*/
@import "./rootui-parts/demo";

/*------------------------------------------------------------------

  Base

 -------------------------------------------------------------------*/
@import "./rootui-parts/base";

/*------------------------------------------------------------------

  Preloader

 -------------------------------------------------------------------*/
@import "./rootui-parts/preloader";

/*------------------------------------------------------------------

  Typography

 -------------------------------------------------------------------*/
@import "./rootui-parts/typography";

/*------------------------------------------------------------------

  Bootstrap

 -------------------------------------------------------------------*/
@import "./rootui-parts/bootstrap";

/*------------------------------------------------------------------

  Helpers

 -------------------------------------------------------------------*/
@import "./rootui-parts/helpers";

// Layouts

/*------------------------------------------------------------------

  Navbar

 -------------------------------------------------------------------*/
@import "./rootui-parts/navbar";

/*------------------------------------------------------------------

  Spotlight Mode

 -------------------------------------------------------------------*/
@import "./rootui-parts/spotlight-mode";

/*------------------------------------------------------------------

  Section lines

 -------------------------------------------------------------------*/
@import "./rootui-parts/section-lines";

/*------------------------------------------------------------------

  Header

 -------------------------------------------------------------------*/
@import "./rootui-parts/header";

/*------------------------------------------------------------------

  Sign

 -------------------------------------------------------------------*/
@import "./rootui-parts/sign";

/*------------------------------------------------------------------

  Error

 -------------------------------------------------------------------*/
@import "./rootui-parts/error";

/*------------------------------------------------------------------

  Mailbox

 -------------------------------------------------------------------*/
@import "./rootui-parts/mailbox";

/*------------------------------------------------------------------

  Messenger

 -------------------------------------------------------------------*/
@import "./rootui-parts/messenger";

/*------------------------------------------------------------------

  Project Management

 -------------------------------------------------------------------*/
@import "./rootui-parts/project-management";

/*------------------------------------------------------------------

  File Manager

 -------------------------------------------------------------------*/
@import "./rootui-parts/file-manager";

/*------------------------------------------------------------------

  Profile

 -------------------------------------------------------------------*/
@import "./rootui-parts/profile";

/*------------------------------------------------------------------

  Footer

 -------------------------------------------------------------------*/
@import "./rootui-parts/footer";


/*------------------------------------------------------------------

  Elements

 -------------------------------------------------------------------*/

/*---------------------------
  Element Alert
 ----------------------------*/
@import "./rootui-parts/bootstrap-alert";

/*---------------------------
  Element Badge
 ----------------------------*/
@import "./rootui-parts/bootstrap-badge";

/*---------------------------
  Element Breadcrumb
 ----------------------------*/
@import "./rootui-parts/bootstrap-breadcrumb";

/*---------------------------
  Element Buttons
 ----------------------------*/
@import "./rootui-parts/bootstrap-buttons";

/*---------------------------
  Element Card
 ----------------------------*/
@import "./rootui-parts/bootstrap-card";

/*---------------------------
  Element Carousel
 ----------------------------*/
@import "./rootui-parts/bootstrap-carousel";

/*---------------------------
  Element Collapse
 ----------------------------*/
@import "./rootui-parts/bootstrap-collapse";

/*---------------------------
  Element Table
 ----------------------------*/
@import "./rootui-parts/bootstrap-table";

/*---------------------------
  Element Pagination
 ----------------------------*/
@import "./rootui-parts/bootstrap-pagination";

/*---------------------------
  Element Dropdown
 ----------------------------*/
@import "./rootui-parts/bootstrap-dropdown";

/*---------------------------
  Element Forms
 ----------------------------*/
@import "./rootui-parts/bootstrap-forms";

/*---------------------------
  Element List group
 ----------------------------*/
@import "./rootui-parts/bootstrap-list-group";

/*---------------------------
  Element Media object
 ----------------------------*/
@import "./rootui-parts/bootstrap-media-object";

/*---------------------------
  Element Modal
 ----------------------------*/
@import "./rootui-parts/bootstrap-modal";

/*---------------------------
  Element Navs
 ----------------------------*/
@import "./rootui-parts/bootstrap-navs";

/*---------------------------
  Element Popovers
 ----------------------------*/
@import "./rootui-parts/bootstrap-popovers";

/*---------------------------
  Element Progress
 ----------------------------*/
@import "./rootui-parts/bootstrap-progress";

/*---------------------------
  Element Spinners
 ----------------------------*/
@import "./rootui-parts/bootstrap-spinners";

/*---------------------------
  Element Toast
 ----------------------------*/
@import "./rootui-parts/bootstrap-toast";

/*---------------------------
  Element Blockquote
 ----------------------------*/
@import "./rootui-parts/bootstrap-blockquote";

/*---------------------------
  Element Search
 ----------------------------*/
@import "./rootui-parts/element-search";

/*---------------------------
  Element Popup
 ----------------------------*/
@import "./rootui-parts/element-popup";

/*---------------------------
  Element Snippet
 ----------------------------*/
@import "./rootui-parts/element-snippet";

/*---------------------------
  Element Timeline
 ----------------------------*/
@import "./rootui-parts/element-timeline";

/*---------------------------
  Element Changelog
 ----------------------------*/
@import "./rootui-parts/element-changelog";

/*---------------------------
  Element Kanban
 ----------------------------*/
@import "./rootui-parts/element-kanban";

/*---------------------------
  Element Task
 ----------------------------*/
@import "./rootui-parts/element-task";

/*---------------------------
  Element Icons
 ----------------------------*/
@import "./rootui-parts/element-icons";

/*---------------------------
  Element Content Boxes
 ----------------------------*/
@import "./rootui-parts/element-content-boxes";

/*---------------------------
  Element Image Boxes
 ----------------------------*/
@import "./rootui-parts/element-image-boxes";

/*---------------------------
  Element Widget
 ----------------------------*/
@import "./rootui-parts/element-widget";

/*---------------------------
  Element Social links
 ----------------------------*/
@import "./rootui-parts/element-social-links";

/*---------------------------
  Element Box Window
 ----------------------------*/
@import "./rootui-parts/element-box-window";

/*---------------------------
  Element Feature
 ----------------------------*/
@import "./rootui-parts/element-feature";

/*------------------------------------------------------------------

  Plugins

 -------------------------------------------------------------------*/

/*---------------------------
    Plugin Yay
 ----------------------------*/
@import "./rootui-parts/plugin-yay";

/*---------------------------
    Plugin Overlay Scrollbars
 ----------------------------*/
@import "./rootui-parts/plugin-overlay-scrollbars";

/*---------------------------
    Plugin Emojione Area
 ----------------------------*/
@import "./rootui-parts/plugin-emojione-area";

/*---------------------------
    Plugin Sortablejs
 ----------------------------*/
@import "./rootui-parts/plugin-sortable";

/*---------------------------
    Plugin Swiper
 ----------------------------*/
@import "./rootui-parts/plugin-swiper";

/*---------------------------
    Plugin Fullcalendar
 ----------------------------*/
@import "./rootui-parts/plugin-fullcalendar";

/*---------------------------
    Plugin Fancybox
 ----------------------------*/
@import "./rootui-parts/plugin-fancybox";

/*---------------------------
    Plugin Jstree
 ----------------------------*/
@import "./rootui-parts/plugin-jstree";

/*---------------------------
    Plugin Sweetalert
 ----------------------------*/
@import "./rootui-parts/plugin-sweetalert";

/*---------------------------
    Plugin Jqvmap
 ----------------------------*/
@import "./rootui-parts/plugin-jqvmap";

/*---------------------------
    Plugin Datatable
 ----------------------------*/
@import "./rootui-parts/plugin-datatable";

/*---------------------------
    Plugin DateTime Picker
 ----------------------------*/
@import "./rootui-parts/plugin-datetime";

/*---------------------------
    Plugin DateRange Picker
 ----------------------------*/
@import "./rootui-parts/plugin-daterange";

/*---------------------------
    Plugin Touchspin
 ----------------------------*/
@import "./rootui-parts/plugin-touchspin";

/*---------------------------
    Plugin Ion Range Slider
 ----------------------------*/
@import "./rootui-parts/plugin-irs";

/*---------------------------
    EasyMDE (Markdown)
 ----------------------------*/
@import "./rootui-parts/plugin-easymde";

/*---------------------------
    Colorpicker
 ----------------------------*/
@import "./rootui-parts/plugin-pickr";

/*---------------------------
    Plugin Chartist
 ----------------------------*/
@import "./rootui-parts/plugin-chart-chartist";

/*---------------------------
    Plugin Selectize
 ----------------------------*/
@import "./rootui-parts/plugin-selectize";

/*---------------------------
    Plugin Peity (chart)
 ----------------------------*/
@import "./rootui-parts/plugin-chart-peity";

/*---------------------------
    Plugin eCharts
 ----------------------------*/
@import "./rootui-parts/plugin-chart-echarts";

/*---------------------------
    Plugin Flot (chart)
 ----------------------------*/
@import "./rootui-parts/plugin-chart-flot";

/*---------------------------
    Plugin Chartjs
 ----------------------------*/
@import "./rootui-parts/plugin-chartjs";

/*---------------------------
    Plugin Highlight
 ----------------------------*/
@import "./rootui-parts/plugin-highlight";

/*---------------------------
    Plugin Quill
 ----------------------------*/
@import "./rootui-parts/plugin-quill";

/*---------------------------
    Plugin Dropzone
 ----------------------------*/
@import "./rootui-parts/plugin-dropzone";
